#header {
	border-bottom: 1px solid #c0c0c0;
	box-shadow: 0 0 4px #c0c0c0;	
}
#header nav {
	max-width: 1024px;
	margin:0 auto;
	position: relative;
}
#header .logo {
	float: left;
	width: 16.8%;
	min-width: 120px;
	height: 70px;
	line-height: 70px;
}
#header .logo img {
	padding-top: 3%;
}
#header ul {
	float: right;
}
#header ul li {
	float: left;
	transition:background-color 1s;
}
#header ul li.active,#header ul li:hover{
 	background-color: #cfdb00;
}
#header ul li a {
	display: block;
	width: 102px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 1.4rem;
	color:#1e1e1e;
}
#rightBtn {
	display: none;
	position: absolute;
	right:10px;
	top:10px;
	width:50px;
	height: 50px;
	/*border:1px solid red;*/
	background-color: blue;
}
#main {
	/*max-width: 1024px;
	margin-left: auto;
	margin-right: auto;*/
	text-align: center;
}
#footer {
	text-align: center;
	margin-top: 14%;
}
#footer section {
	max-width: 1024px;
	margin:0 auto;
}
h2.title {
	position: relative;
	/*width:200px;*/
	display: inline-block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin:0 auto;
	color:#616161;
	font-size: 2.4rem;
}
h2.title:before,h2.title:after {
	content: "";
	width:60%;
	height: 2px;
	background-color: #cfdb00;
	position: absolute;
	top:19px;
}
h2.title:before {
	right:104%;
}
h2.title:after {
	left:104%;
}
#footer section h2 {
	margin-bottom: 8.8%;
}
#footer section p{
	font-size: 1.6rem;
	color:#999999;
}
#footer section p a {
	color:#999999;
}
#footer .bottom {
	margin-top: 8.8%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	background-color: #b4b4b4;
	color:#fff;
	font-size: 2rem;
	border-top:2px solid #cfdb00;
}
@media screen and (max-width: 768px) {
	#header .logo {
		margin-left: 4%;
	}
	#header .logo img {
		padding-top: 8%;
	}
	#header ul {
		display: none;
		float: none;
		width:100%;
		overflow: hidden;
	}
	#header ul li {
		float: none;
	}
	#header ul li a {
		width:100%;
	}
	#rightBtn {
		display: block;
	}
}
@media screen and (max-width: 480px) {

	h2.title:before,h2.title:after {
		width:24%;
	}

	#footer .bottom {
		font-size:1.8rem;
	}
}

